body {
  main {
    .doc_container {
      .span_code {
        padding: 0 0.3rem;
        background-color: rgb(216, 216, 216);
      }

      .code_container {
        background-color: rgb(216, 216, 216);
      }
    }
  }
}
