body {
  background-color: whitesmoke;

  header {
    .item_category {
      cursor: pointer;
    }
  }

  main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;

    .spiner_container {
      display: flex;
      justify-content: center;
    }

    .products_container {
      justify-content: space-between;

      article {
        .img_card {
          height: 18rem;
          object-fit: contain;
        }
      }
    }
  }

  footer {
    padding: 3rem 0;
  }

  @media only screen and (max-width: 576px) {
    main {
      .products_container {
        justify-content: center;
      }
    }
  }
}
